.navbar {
    background-color: #0b0f19;
    text-align: left;
    margin-left: 3%;
    padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

.navbar-logo {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    line-height: 1;
}