.orders-box {
    background-color: #1f2937;
    height: 100vh;
    overflow-y: auto;
    border-radius: 5px;
    min-width: 48%;
    max-height: 725px;
    margin: 0 1%;
    border: .5px solid #ccc;

    table {
        width: 100%;

        th,
        td {
            text-align: center;
        }

        td {
            border-top: .5px solid #ccc;
        }

        th {
            background-color: #0b0f19;
            color: white;
        }
    }
}

.orders-box ul {
    list-style-type: none;
    padding: 0;
}

.orders-box li {
    margin: 10px 0;
    padding: 5px;
}