.orders-box {
    background-color: #1f2937;
    border-radius: 5px;
    width: 48%;
    margin: 0 1%;
    border: .5px solid #ccc;
    display: flex;
    flex-direction: column;
    height: calc(84vh - var(--navbar-height) - var(--hero-height));

    @media (max-width: 768px) {
        width: 100%;
        margin: 0;
        height: auto;
    }

    .orders-body {
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th,
        td {
            text-align: center;
            font-size: 0.9rem;
            height: 20px;
            padding: 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (min-width: 768px) {
                &:hover {
                    position: relative;
                }

                &:hover::before {
                    content: attr(title);
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: #333;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 5px;
                    z-index: 1;
                }
            }

            @media (max-width: 767px) {
                position: relative;

                &.ellipsis {
                    cursor: pointer;
                }

                &.ellipsis::after {
                    content: '\25BE';
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    font-size: 12px;
                    color: #666;
                }

                &.ellipsis.expanded {
                    white-space: normal;
                    overflow: visible;
                }

                &.ellipsis.expanded::after {
                    content: '\25B4';
                }
            }
        }

        th {
            background-color: #0b0f19;
            color: white;
            border-bottom: .5px solid #ccc;
        }

        td {
            border-top: .5px solid #ccc;
        }
    }
}

.severity-low {
    background-color: #155724;
    color: #d4edda;
}

.severity-medium {
    background-color: #856404;
    color: #fff3cd;
}

.severity-high {
    background-color: #721c24;
    color: #f8d7da;
}

.copied-popup {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}