.orders-box {
    background-color: #1f2937;
    height: 100vh;
    overflow-y: auto;
    border-radius: 5px;
    width: 48%;
    max-height: 667px;
    margin: 0 1%;
    border: .5px solid #ccc;
    display: flex;
    flex-direction: column-reverse;

    table {
        width: 100%;

        th,
        td {
            text-align: center;
            font-size: 0.9rem;
        }

        td {
            border-top: .5px solid #ccc;
            height: 50px;
        }

        th {
            background-color: #0b0f19;
            color: white;
            position: sticky;
            top: 0;
            z-index: 2;
            height: 50px;
        }
    }
}

.orders-box ul {
    list-style-type: none;
    padding: 0;
}

.orders-box li {
    margin: 10px 0;
    padding: 5px;
}