.table-header {
    width: 100%;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        /* Ensure the layout is consistent */

        th {
            text-align: center;
            font-size: 0.9rem;
            height: 50px;
            padding: 8px;
            /* Add padding to ensure alignment */
            background-color: #0b0f19;
            color: white;
            border-bottom: .5px solid #ccc;
        }
    }
}

.table-header {
    width: 100%;

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th {
            text-align: center;
            font-size: 0.9rem;
            height: 50px;
            padding: 8px;
            background-color: #0b0f19;
            color: white;
            border-bottom: .5px solid #ccc;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (max-width: 768px) {
                &:hover {
                    overflow: visible;
                    white-space: normal;
                    word-wrap: break-word;
                }
            }
        }
    }
}